@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h1>Welcome to the GameSite!</h1>
</div>
<h3><a href='/repeatcouner/new'>Play the Word Counter Game!<a/></h3>
<h3><a href='/scrabble/new'>Play the Scrabble Counter Game!<a/></h3>
</div>
