@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h1> Your Word Count</h1>
</div>
<h2> Your didn't enter valid information.</h2>

<a href="/repeatcouner/new">Find again</a>
<br>
<a href="/">Main page</a>
</div>
