@using WordCounter.Models;
<h1> Your Word Count</h1>

<h3>Word: @Model.GetWord() </h3>
<h3>Sentence: @Model.GetSentence()</h3>
<h2>You word '@Model.GetWord()' was used @Model.WordCounter() time/s</h2>

<a href="/repeatcouner/new">Find again</a>
