@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h1> Your Scrabble Score</h1>
</div>
<h2> Your can't enter numbers.</h2>

<a href="/scrabble/new">Count again</a>
<br>
<a href="/">Main page</a>
</div>
